.App {
    width: 100%;
    height: 100%;
}

.nav--container {
    width: 100%;
    height: 65px;
    padding: 0 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    display: flex;
    align-items: center;

    color: #fff;
}

.nav--container img {
    width: 32px;
}

.nav--container h1 {
    margin-left: 7px;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1em;
}

.nav--container h3 {
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.meme--container {
    padding: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
}

.meme--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--input-box {
    display: flex;
    column-gap: 17px;
}

.form--input-box input {
    width: 230px;
    height: 35px;
    padding: 0 11px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;

    font-size: 12px;
    line-height: 14px;

    color: #0D0D0D;
    outline: none;
}

.form--submit {
    margin-top: 15px;
    max-width: 477px;
    width: 100%;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);

    border: 0;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.1em;
    color: #fff;

    cursor: pointer;
}

.meme--image {
    max-width: 477px;
    position: relative;
}

.meme--image img {
    width: 100%;
}

.meme--image h2 {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;

    font-family: impact, 'sans-serif';
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 39px;
    color: #fff;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.image--toptext {
    top: 0;
}

.image--bottomtext {
    bottom: 0;
}